@import "tailwindcss";
body {
  background-color: #38B1F6;
  color: black;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Barabara', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Barabara', sans-serif;
} 

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Barabara', sans-serif;
} 

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'ITC Bauhaus', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

