@import "tailwindcss";

@font-face {
  font-family: "Barabara";
  src: url("./assets/fonts/BARABARA-final.otf") format("opentype");
}

/* Debug styles */
.debug-font {
  font-family: "Barabara", sans-serif;
  font-size: 2rem;
  color: red;
  border: 2px solid red;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Barabara", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

:root {
  --font-barabara: "Barabara", sans-serif;
  --red-orange: #ff5c4d;
  --orange: #ff9636;
  --mimosa: #ffcd58;
  --chartreuse: #dad870;
  --blue: #38b1f6;
}

body {
  background-color: #38b1f6;
  color: black;
}

h1 {
  font-size: 2rem;
  color: var(--red-orange);
}

h2 {
  font-size: 1.5rem;
  color: var(--orange);
}

h3 {
  font-size: 1.2rem;
  color: var(--mimosa);
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "ITC Bauhaus", sans-serif;
  color: black;
}

/* Utility classes for colors */
.text-red-orange {
  color: var(--red-orange);
}
.text-orange {
  color: var(--orange);
}
.text-mimosa {
  color: var(--mimosa);
}
.text-chartreuse {
  color: var(--chartreuse);
}
.text-blue {
  color: var(--blue);
}

.bg-red-orange {
  background-color: var(--red-orange);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-mimosa {
  background-color: var(--mimosa);
}
.bg-chartreuse {
  background-color: var(--chartreuse);
}
.bg-blue {
  background-color: var(--blue);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Brand Assets */
.primary-logo-white,
.primary-logo-black,
.primary-logo,
.primary-logo-small,
.secondary-logo,
.secondary-logo-small {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.primary-logo,
.primary-logo-small {
  background-image: url("../assets/0-Primary-Logo.png");
}

.primary-logo-white,
.primary-logo-white-small {
  background-image: url("../assets/0-Primary-Logo-White.png");
}

.secondary-logo,
.secondary-logo-small {
  background-image: url("../assets/2-Secondary-Logo.png");
}

.logo-black,
.logo-black-small {
  background-image: url("../assets/3-Logo-Black.png");
}

.logo-white,
.logo-white-small {
  background-image: url("../assets/3-Logo-White.png");
}

.logo-color,
.logo-color-small {
  background-image: url("../assets/3-Logo-Color.png");
}

.primary-logo-white,
.primary-logo,
.logo-black,
.secondary-logo,
.logo-color,
.logo-white {
  width: 300px;
  height: 100%;
}

.primary-logo-white-small,
.primary-logo-small,
.logo-black-small,
.secondary-logo-small,
.logo-color-small,
.logo-white-small {
  width: 100px;
  height: 50px;
}

/* Auth Page */
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-container {
  background-color: var(--blue);
}

#auth-logo {
  justify-content: center;
  width: 300px;
}

#sign-in-container {
  width: 500px;
}

#sign-up-container {
  width: 500px;
}

/* Header */
header {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  align-content: baseline !important;
}

#sign-out-button:hover {
  background-color: var(--red-orange);
}

/* Home Page */

#home-main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home-container {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}

